{% extends 'app/base.html' %}
{% load static %}
{% block title %}
History 
{% endblock %}
{% block body %}

    <!--================= History Section Start Here =================-->
    <div class="rts-history-section section-gap">
        <div class="container">
            <div class="history-inner">
                <div class="timeline">
                    <div class="top-icon timeline-icon"><i class="fal fa-plus"></i></div>
                    <div class="down-icon timeline-icon"><i class="fal fa-plus"></i></div>
                    <ul>
                        <li>
                            <span class="default-line"></span>
                            <span class="draw-line"></span>
                        </li>
                        <li>
                            <div>
                            </div>
                        </li>
                        <li>
                            <div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <div class="history-item item-left one">
                    <div class="content">
                        <h2 class="history-title " >Olympic WAS STARTED</h2>
                        <p>It was on November 25, 1892, at a meeting arranged by the Union
                            of French Athletic Sport Associations to commemorate the fifth anniversary 
                            of its foundation and to report the rapid progress achieved by the
                            Union in so short a period, that Baron Pierre de Coubertin first stated
                            that he proposed to devote himself to the revival of the Olympic Games.
                            A large audience had assembled in the amphitheatre of the ancient
                            Sorbonne to hear a series of lectures dealing with athletic sports in
                            ancient times, in the middle ages, and in the modern era. </p>
                    </div>
                    <div class="history-year text-start">1892</div>
                </div>
                <div class="history-item item-right two">
                    <div class="history-year text-end">1894</div>
                    <div class="content">
                        <h2 class="history-title">First President</h2>
                        <p>Demetrius Vikelas from Greece was elected as a first president on international olympic.</p>
                    </div>
                </div>
                <div class="history-item item-left three">
                    <div class="content">
                        <h2 class="history-title">Second President</h2>
                        <p>Baron Pierre de Coubertin from France was elected as a second president on international olympic.</p>
                    </div>
                    <div class="history-year text-start">1896</div>
                </div>
                <div class="history-item item-right four">
                    <div class="history-year text-end"> 1925</div>
                    <div class="content">
                        <h2 class="history-title">Third President</h2>
                        <p>Count de Baillet-Latour from Belgium was elected as a third president on international olympic.</p>
                    </div>
                </div>
                <div class="history-item item-left one">
                    <div class="content">
                        <h2 class="history-title">Fourth President</h2>
                        <p>J. Sigfrid Edstrom from Sweden was elected as a fourth president on international olympic.</p>
                    </div>
                    <div class="history-year text-start">1946</div>
                </div>

                <div class="history-item item-right two">
                    <div class="history-year text-end">1952</div>
                    <div class="content">
                        <h2 class="history-title">Fifth President</h2>
                        <p>Avery Brundage from U.S.A. was elected as a fifth president on international olympic.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================= History Section End Here =================-->



    <!--================= Awards Section Start Here =================-->
    <div class="rts-awards-section section-gap">
        <div class="container">
            <div class="section-title-area section-title-area1 text-center mb--50">
                <span class="pretitle">TROPHY</span>
                <h1 class="section-title">OUR AWARDS</h1>
                <p>It is one of the most popular football clubs that offer training programs
                    for the youth, as well as summer camps</p>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="award-box">
                        <div class="award-picture"><img src="{% static 'app/assets/images/items/awards/award1.png' %}" alt="award-picture">
                        </div>
                        <div class="content">
                            <span class="award-title">SEASON 2015</span>
                            <p>China</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="award-box">
                        <div class="award-picture"><img src="{% static 'app/assets/images/items/awards/award2.png' %}" alt="award-picture">
                        </div>
                        <div class="content">
                            <span class="award-title">SEASON 2019</span>
                            <p>Srilanka</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="award-box">
                        <div class="award-picture"><img src="{% static 'app/assets/images/items/awards/award3.png' %}" alt="award-picture">
                        </div>
                        <div class="content">
                            <span class="award-title">SEASON 2020</span>
                            <p>South Korea</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="award-box">
                        <div class="award-picture"><img src="{% static 'app/assets/images/items/awards/award4.png' %}" alt="award-picture">
                        </div>
                        <div class="content">
                            <span class="award-title">SEASON 2023</span>
                            <p>Tokyo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================= Awards Section End Here =================-->

{% endblock %}