{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Leaguestandings 
{% endblock %}
{% block body %}


    <!--================= Point Table Section Start Here =================-->
    <div class="rts-point-table-section section-gap">
        <div class="container">
            <div class="title-area">
                <h2 class="title text-center">PRIMARY LEAGUE 2022</h2>
            </div>
            <div class="table-area table-full">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    </thead>
                    <tbody>
                        <tr class="head-tr">
                            <th scope="col">POSITION</th>
                            <th scope="col">CLUB NAME</th>
                            <th scope="col">MATCH</th>
                            <th scope="col">WIN</th>
                            <th scope="col">DRAW</th>
                            <th scope="col">LOSE</th>
                            <th scope="col">DUE</th>
                            <th scope="col">PTS</th>
                        </tr>
                        <tr>
                            <td><span class="position-number">01</span></td>
                            <td>
                                <div class="product-title-area">
                                    <h4 class="player-name">Kester F.C.</h4>
                                </div>
                            </td>
                            <td><span class="match-count">39</span></td>
                            <td><span class="win-count">30</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">60</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">02</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Romada Football Club</h4>
                                </div>
                            </td>
                            <td><span class="match-count">27</span></td>
                            <td><span class="win-count">10</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">56</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">03</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Holonso F.C.</h4>
                                </div>
                            </td>
                            <td><span class="match-count">24</span></td>
                            <td><span class="win-count">35</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">46</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">04</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Real Madrid</h4>
                                </div>
                            </td>
                            <td><span class="match-count">25</span></td>
                            <td><span class="win-count">19</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">58</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">05</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Barcelona F.C.</h4>
                                </div>
                            </td>
                            <td><span class="match-count">19</span></td>
                            <td><span class="win-count">25</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">47</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">06</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Chelsea</h4>
                                </div>
                            </td>
                            <td><span class="match-count">10</span></td>
                            <td><span class="win-count">23</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">-10</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">07</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Burusia Dortmond</h4>
                                </div>
                            </td>
                            <td><span class="match-count">10</span></td>
                            <td><span class="win-count">23</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">-10</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">08</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Del Rio</h4>
                                </div>
                            </td>
                            <td><span class="match-count">10</span></td>
                            <td><span class="win-count">23</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">-10</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">09</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Wakanda Forever</h4>
                                </div>
                            </td>
                            <td><span class="match-count">10</span></td>
                            <td><span class="win-count">23</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">-10</span></td>
                        </tr>
                        <tr>
                            <td><span class="position-number">10</span></td>
                            <td>
                                <div class="player-name-area">
                                    <h4 class="player-name">Avengers</h4>
                                </div>
                            </td>
                            <td><span class="match-count">10</span></td>
                            <td><span class="win-count">23</span></td>
                            <td><span class="draw-count">02</span></td>
                            <td><span class="lose-count">01</span></td>
                            <td><span class="due-count">03</span></td>
                            <td><span class="pts-count">-10</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button-area"><a href="#" class="full-table-btn">LOAD MORE <i class="fal fa-plus ml--5"></i></a>
            </div>
        </div>
    </div>
    <!--================= Point Table Section End Here =================-->
{% endblock %}